* {
  margin: 0;
  padding: 0;
  border: 0;
}

#app {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60svh;
}

.carta {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #f5b6e4;
  background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
  border: 1px solid #ccc;
}

.carta:hover {
  transform: scale(1.1);
}

h3 {
  font-size: 40px;
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  background-color: #c491b6;
  height: 150px;
  align-items: center;
  border-radius: 10px;
  margin: 10px 20px;
}
header > h1 {
  color: whitesmoke;
  font-weight: 900;
  font-size: xx-large;
  max-height: max-content;
}
h4 {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #4d0038;
  color: aqua;
}

.carta.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.mensaje-final {
  text-align: center;
  margin-top: 20px;
}

.mensaje-final h2 {
  margin-bottom: 10px;
}

.mensaje-final button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #c491b6;
}
.footer {
  margin-bottom: 0;
}

@media screen and (max-width: 760px) {
  .carta {
    width: 100px;
    height: 120px;
  }
}
