@import './public/assets/componentes/variables.scss';
@import './public/assets/componentes/utils.scss';
@import './public/assets/componentes/game.scss';
@import './public/assets/componentes/btnvolverMenuPrin.scss';
@import './public/assets/componentes/jugarDeNuevo.scss';
@import './public/assets/componentes/musica.scss';
@import './public/assets/componentes/mediaquery.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: var(--primary-bg-image);
  background-attachment: fixed;
  background-size: cover;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--primary-margin-top);
  margin-bottom: var(--primary-margin-botton);
  gap: var(--primary-gap);
}
#score-container {
  text-align: center;
  margin-top: var(--primary-margin-top);
}

h3 {
  font-size: var(--primary-font-size);
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  background-color: var(--quinto-bg-color);
  height: 150px;
  align-items: center;
  border-radius: var(--primary-border-radius);
  margin: var(--primary-margin);
}
header > h1 {
  color: var(--primary-color);
  font-weight: 900;
  font-size: xx-large;
  max-height: max-content;
}
h4 {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--quinto-bg-color);
  color: var(--primary-color);
  border-radius: var(--secundary-border-radius);
  margin: var(--secundary-margin);
}
