#backToMenuBtn {
  padding: var(--secundary-padding);
  border: none;
  border-radius: var(--primary-border-radius);
  background-color: var(--quinto-bg-color);
  color: var(--cuarto--bg-color);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: var(--tercer-margin-bottom);
}

#backToMenuBtn:hover {
  background-color: var(--sexto-bg-color);
}
