.carta {
  width: 150px;
  height: 200px;
  border-radius: var(--tercer-border-radius);
  cursor: pointer;
  transition: all 0.5s;
  background-color: var(--quinto-bg-color);
  background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
  border: var(--primary-border);
}

.carta:hover {
  transform: scale(1.1);
}

.carta.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.mensaje-final {
  text-align: center;
  margin-top: var(--primary-margin-top);
}

.mensaje-final h2 {
  margin-bottom: var(--secundary-margin-bottom);
}

.mensaje-final button {
  padding: var(--tercer-padding);
  font-size: 16px;
  cursor: pointer;
  background-color: var(--quinto-bg-color);
}
