.music-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--secundary-gap);
  margin: var(--secundary-margin);
}
.music-controls:hover {
  padding: var(--primary-padding);
}
#playPauseBtn {
  padding: var(--secundary-padding);
  border: none;
  border-radius: var(--primary-border-radius);
  background-color: var(--quinto-bg-color);
  color: var(--cuarto--bg-color);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
}

#playPauseBtn:hover {
  background-color: var(--sexto-bg-color);
}

#volumeControl {
  width: 100px;
}
